<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Vuejs</title>
  </head>
  <body>
    <h1>Hello Vuejs</h1>

    <div id="app">
      <p v-if="characterList.length === 0">There are no characters</p>
      <ul v-else>
        <li v-for="character in characterList">
          <p>{{character.name}}</p>
          <button @click="() => favoriteCharacterList.push(character)">
            favorite
          </button>
        </li>
      </ul>
      <h2>Favorite Character</h2>
      <p v-if="favoriteCharacterList.length === 0">No favorite character</p>
      <ul v-else>
        <li v-for="character in favoriteCharacterList">
          <p>{{character.name}}</p>
        </li>
      </ul>
      <h2>New Character</h2>
      <input
        type="text"
        v-model="newCharacter.name"
        @keyup.enter="addNewCharacter"
      />
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          newCharacter: {
            name: '',
          },
          characterList: [
            { name: 'azord' },
            { name: 'zuko' },
            { name: 'john' },
            { name: 'katara' },
          ],
          favoriteCharacterList: [],
        }),
        methods: {
          addNewCharacter() {
            this.characterList.push(this.newCharacter);
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
