<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Vuejs</title>
  </head>
  <body>
    <h1>Hello Vuejs</h1>

    <div id="app">
      <p v-if="characterList.length === 0">There are no characters</p>
      <ul v-else>
        <li v-for="character in characterList">{{character.name}}</li>
      </ul>
      <input type="number" v-model="increaseAmount" />
      <button @click="increaseCount">count: {{count}}</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          count: 10,
          increaseAmount: 1,
          characterList: [
            { name: 'azord' },
            { name: 'bzord' },
            { name: 'czord' },
            { name: 'dzord' },
          ],
        }),
        methods: {
          increaseCount() {
            this.count += this.increaseAmount;
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
